/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
}

header h1 {
    font-size: 1.5rem;
}

/* Container */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
    text-align: justify;
}

/********** About section **********/
#about {
    margin-bottom: 2rem;
}

#about h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #fff;
}

#about p {
    margin-bottom: 1rem;
    color: #F0F0F0;
}

/********** Skills section **********/
#skills h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

#skills p {
    margin-bottom: 1rem;
    color: #F0F0F0;
}

/********** Projects section **********/
.project {
    border: 1px solid #444; 
    border-radius: 5px;
    padding: 1em;
    margin: 1em 0;
    position: relative;
}

/* Title and tool styling */
.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

/* Button styling */
.toggle-btn {
    /*background-color: #333;*/
    background-color: #121212;
    color: #fff;
    border: 1px solid #121212;
    border-radius: 4px;
    padding: 0.2em 0.5em;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Rotate the arrow when expanded */
.toggle-btn.expanded {
    transform: rotate(180deg);
}

/* Add a hover effect */
.toggle-btn:hover {
    background-color: #555; /* Lighten on hover for visibility */
}

.project-details {
    display: none; /* Keeps the default hidden state */
    margin-top: 0.5em;
    justify-content: space-between; /* Ensures space between the description and the video */
    align-items: center; /* Aligns items vertically */
    gap: 1em; /* Adds spacing between the description and video */
}

.project-details.show {
    display: flex; /* Show details when the show class is added */
}

.project-details p {
    flex: 1; /* Allow the description to take up available space */
    margin: 0; /* Reset default paragraph margins */
}

.project-details video {
    max-width: 50%; /* Restrict video to half the available width */
    height: auto; /* Maintain aspect ratio */
    border: 1px solid #444; /* Optional: Add a subtle border to the video */
    border-radius: 5px; /* Optional: Rounded corners */
}


/********** Contact section **********/
#contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-info {
    color: #F0F0F0;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
}